### All user ratings

In [7]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

ratings = pd.read_csv('/home/gh23935521/Downloads/ratings.csv')
ratings

      rater                movie  rating
0    Brenda                 TMNT     4.0
1    Brenda  Sorry to Bother You     4.0
2    Brenda        The Equilizer     4.5
3    Brenda                Akira     3.5
4    Brenda            Rush Hour     5.0
5    Brenda          Oppenheimer     NaN
6    Alissa                 TMNT     4.0
7    Alissa  Sorry to Bother You     NaN
8    Alissa        The Equilizer     NaN
9    Alissa                Akira     4.5
10   Alissa            Rush Hour     NaN
11   Alissa          Oppenheimer     4.0
12    Bruce                 TMNT     4.5
13    Bruce  Sorry to Bother You     3.5
14    Bruce        The Equilizer     4.0
15    Bruce                Akira     NaN
16    Bruce            Rush Hour     NaN
17    Bruce          Oppenheimer     NaN
18    Myles                 TMNT     NaN
19    Myles  Sorry to Bother You     NaN
20    Myles        The Equilizer     3.0
21    Myles                Akira     3.5
22    Myles            Rush Hour     4.0
23    Myles          Oppenheimer     5.0
24  Gregory                 TMNT     5.0
25  Gregory  Sorry to Bother You     3.5
26  Gregory        The Equilizer     3.5
27  Gregory                Akira     4.0
28  Gregory            Rush Hour     5.0
29  Gregory          Oppenheimer     2.5

### Average ratings for each movie

In [8]:
ratings.groupby('movie').rating.mean()

movie
Akira                  3.875000
Oppenheimer            3.833333
Rush Hour              4.666667
Sorry to Bother You    3.666667
TMNT                   4.375000
The Equilizer          3.750000
Name: rating, dtype: float64

### Average ratings for each rater

In [11]:
ratings.groupby('rater').rating.mean()

rater
Alissa     4.166667
Brenda     4.200000
Bruce      4.000000
Gregory    3.916667
Myles      3.875000
Name: rating, dtype: float64

### All normalized rater ratings

In [13]:
# copies the data 
norm_ratings = ratings.copy() 
  
# apply normalization formula  
norm_ratings['rating'] = (norm_ratings['rating'] - norm_ratings['rating'].min()) / (norm_ratings['rating'].max() - norm_ratings['rating'].min())
      
# view normalized data 
norm_ratings

      rater                movie  rating
0    Brenda                 TMNT     0.6
1    Brenda  Sorry to Bother You     0.6
2    Brenda        The Equilizer     0.8
3    Brenda                Akira     0.4
4    Brenda            Rush Hour     1.0
5    Brenda          Oppenheimer     NaN
6    Alissa                 TMNT     0.6
7    Alissa  Sorry to Bother You     NaN
8    Alissa        The Equilizer     NaN
9    Alissa                Akira     0.8
10   Alissa            Rush Hour     NaN
11   Alissa          Oppenheimer     0.6
12    Bruce                 TMNT     0.8
13    Bruce  Sorry to Bother You     0.4
14    Bruce        The Equilizer     0.6
15    Bruce                Akira     NaN
16    Bruce            Rush Hour     NaN
17    Bruce          Oppenheimer     NaN
18    Myles                 TMNT     NaN
19    Myles  Sorry to Bother You     NaN
20    Myles        The Equilizer     0.2
21    Myles                Akira     0.4
22    Myles            Rush Hour     0.6
23    Myles          Oppenheimer     1.0
24  Gregory                 TMNT     1.0
25  Gregory  Sorry to Bother You     0.4
26  Gregory        The Equilizer     0.4
27  Gregory                Akira     0.6
28  Gregory            Rush Hour     1.0
29  Gregory          Oppenheimer     0.0

### Normalized movie averages

In [14]:
norm_ratings.groupby('movie').rating.mean()

movie
Akira                  0.550000
Oppenheimer            0.533333
Rush Hour              0.866667
Sorry to Bother You    0.466667
TMNT                   0.750000
The Equilizer          0.500000
Name: rating, dtype: float64

### Normalized rater averages

In [15]:
norm_ratings.groupby('rater').rating.mean()

rater
Alissa     0.666667
Brenda     0.680000
Bruce      0.600000
Gregory    0.566667
Myles      0.550000
Name: rating, dtype: float64

### Conclusion

Using normalized data has the advantage of placing measurements of different units and scale along the same scale for more accurate comparisons. However, it has the disadvantage of scaling the data to a smaller interval when outliers are present, therefore hindering it's accuracy. For example, when the compared to the original user averages, all the normal averages are closer to the midpoint between 0 and 1, creating the illusion that every rater generally gave mediocre scores when in reality that's not the case. In the original averages you can see that all the movies are well favored amongst the raters, as all of those averages are closer to 5.

### [Extra Credit] All standardized rater ratings

In [17]:
std_ratings = ratings.copy()

# apply standardization formula  
std_ratings['rating'] = (std_ratings['rating'] - std_ratings['rating'].mean()) / (std_ratings['rating'].std())

std_ratings

      rater                movie    rating
0    Brenda                 TMNT -0.035033
1    Brenda  Sorry to Bother You -0.035033
2    Brenda        The Equilizer  0.700655
3    Brenda                Akira -0.770721
4    Brenda            Rush Hour  1.436344
5    Brenda          Oppenheimer       NaN
6    Alissa                 TMNT -0.035033
7    Alissa  Sorry to Bother You       NaN
8    Alissa        The Equilizer       NaN
9    Alissa                Akira  0.700655
10   Alissa            Rush Hour       NaN
11   Alissa          Oppenheimer -0.035033
12    Bruce                 TMNT  0.700655
13    Bruce  Sorry to Bother You -0.770721
14    Bruce        The Equilizer -0.035033
15    Bruce                Akira       NaN
16    Bruce            Rush Hour       NaN
17    Bruce          Oppenheimer       NaN
18    Myles                 TMNT       NaN
19    Myles  Sorry to Bother You       NaN
20    Myles        The Equilizer -1.506409
21    Myles                Akira -0.770721
22    Myles            Rush Hour -0.035033
23    Myles          Oppenheimer  1.436344
24  Gregory                 TMNT  1.436344
25  Gregory  Sorry to Bother You -0.770721
26  Gregory        The Equilizer -0.770721
27  Gregory                Akira -0.035033
28  Gregory            Rush Hour  1.436344
29  Gregory          Oppenheimer -2.242097

### Standardized movie averages

In [18]:
std_ratings.groupby('movie').rating.mean()

movie
Akira                 -0.218955
Oppenheimer           -0.280262
Rush Hour              0.945885
Sorry to Bother You   -0.525492
TMNT                   0.516733
The Equilizer         -0.402877
Name: rating, dtype: float64

### Standardized User Averages

In [20]:
std_ratings.groupby('rater').rating.mean()

rater
Alissa     0.210197
Brenda     0.259243
Bruce     -0.035033
Gregory   -0.157647
Myles     -0.218955
Name: rating, dtype: float64